<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>FUTA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all" />
    <link rel="stylesheet" th:href="@{/plugins/flexslider/flexslider.css}" type="text/css" media="all" />
    <script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/flexslider/jquery.flexslider-min.js}"></script>
    <script type="text/javascript" th:src="@{/js/theme.js}"></script>
    <style>
        .payment-icon {
            width: 50px;
            height: 30px;
            cursor: pointer;
            transition: transform 0.3s ease;
        }

        .payment-icon.selected {
            border: 2px solid #28a745; /* Viền xanh khi được chọn */
            transform: scale(1.1); /* Phóng to một chút */
        }
        .payment-option {
            display: inline-block;
            cursor: pointer;
            transition: transform 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
        }

        .payment-option.selected {
            border: 2px solid #28a745; /* Viền xanh khi được chọn */
            transform: scale(1.1); /* Phóng to một chút */
            box-shadow: 0 0 10px rgba(0, 128, 0, 0.5); /* Hiệu ứng bóng đổ */
        }
    </style>
</head>
<body>
<div id="page">
    <!-- header -->
    <header>
        <div id="top">
            <div class="container">
                <div class="support"><i class="fa fa-phone"></i> Tổng đài hỗ trợ: <span>0902 1818 52</span></div>
                <ul>
                    <li><a href="#" th:href="@{/en}">EN</a></li>
                    <li><a href="#" th:href="@{/login}">Đăng nhập</a></li>
                    <li><a href="#" th:href="@{/register}">Đăng ký</a></li>
                </ul>
            </div>
        </div>
        <div id="header-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                        <h1 id="logo">
                            <a th:href="@{/}">
                                <img th:src="@{/img/logo.png}" alt="Logo"/>
                            </a>
                        </h1>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a th:href="@{http://localhost:8080}" class="navbar-brand">Trang chủ</a>
                        </div>
                        <nav id="main-nav" class="collapse navbar-collapse clearfix">
                            <ul>
                                <li><a th:href="@{/promotions}">Khuyến mãi</a></li>
                                <li><a th:href="@{/schedules}">Lịch trình</a></li>
                                <li><a th:href="@{/contact}">Liên hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- body content -->
    <section id="body-content">
        <div id="steps" class="container">
            <ul class="list-step clearfix">
                <li th:classappend="${step == 1} ? 'active' : ''">Chọn tuyến <span></span></li>
                <li th:classappend="${step == 2} ? 'active' : ''">Chọn ghế <span></span></li>
                <li th:classappend="${step == 3} ? 'active' : ''">Thông tin khách hàng <span></span></li>
                <li th:classappend="${step == 4} ? 'active end' : ''">Thanh toán <span></span></li>
            </ul>
        </div>
        <div id="content-steps" class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                    <div class="panel">
                        <p class="text-center text-primary text-uppercase"><strong>Thanh toán online</strong></p>
                        <form id="form-cus-info" class="form-horizontal" th:action="@{/payment}" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <!-- Hiển thị số tiền cần thanh toán -->
                                        <p>Số tiền cần thanh toán: <strong class="text-primary" th:text="${totalAmount} + ' VNĐ'">290.000 VNĐ</strong></p>

                                        <!-- Thanh toán thẻ nội địa -->
                                        <p><i class="fa fa-credit-card text-primary"></i> Thanh toán trực tuyến bằng thẻ nội địa</p>
                                        <ul class="bank">
                                            <li th:each="bank : ${banks}" th:classappend="${bank.selected} ? 'selected' : ''">
                                                <a href="#" class="payment-option" data-method="bank" data-bank="${bank.name}">
                                                    <img th:src="@{/img/bank/{bankName}(bankName=${bank.name})}" alt="" />
                                                </a>
                                            </li>
                                        </ul>

                                        <!-- Thanh toán thẻ quốc tế -->
                                        <p><i class="fa fa-credit-card text-primary"></i> Thanh toán trực tuyến bằng thẻ quốc tế</p>
                                        <ul class="bank">
                                            <li><a href="#" class="payment-option" data-method="international" data-bank="visa">
                                                <img th:src="@{/img/bank/visa.jpg}" alt="Visa" />
                                            </a></li>
                                            <li><a href="#" class="payment-option" data-method="international" data-bank="master">
                                                <img th:src="@{/img/bank/master.jpg}" alt="Master" />
                                            </a></li>
                                            <li><a href="#" class="payment-option" data-method="international" data-bank="jcb">
                                                <img th:src="@{/img/bank/jcb.jpg}" alt="JCB" />
                                            </a></li>
                                        </ul>

                                        <!-- Thanh toán MoMo và VNPAY -->
                                        <p><i class="fa fa-credit-card text-primary"></i> Thanh toán qua MoMo và VNPAY</p>
                                        <ul class="bank">
                                            <li><a href="#" class="payment-option" data-method="mobile" data-bank="momo">
                                                <img th:src="@{/img/bank/momo.jpg}" alt="MoMo" />
                                            </a></li>
                                            <li><a href="#" class="payment-option" data-method="mobile" data-bank="vnpay">
                                                <img th:src="@{/img/bank/vnpay.jpg}" alt="VNPAY" />
                                            </a></li>
                                        </ul>
                                        <p><i class="fa fa-money text-primary"></i> Thanh toán bằng tiền mặt khi đến trạm</p>
                                        <ul class="bank">
                                            <li>
                                                <a href="#" class="payment-option" data-method="cash" data-bank="cash">
                                                    <img th:src="@{/img/bank/cash.jpg}" alt="Tiền mặt" />
                                                </a>
                                            </li>
                                        </ul>
                                        <input type="hidden" id="paymentMethod" name="paymentMethod" />
                                        <input type="hidden" name="scheduleID" th:value="${scheduleID}" />
                                        <input type="hidden" name="seatIds" th:value="${seatIds}" />
                                        <input type="hidden" name="name" placeholder="Họ tên" th:value="${name}" required />
                                        <input type="hidden" name="email" placeholder="Email" th:value="${email}" required />
                                        <input type="hidden" name="address" placeholder="Địa chỉ" th:value="${address}" required />
                                        <input type="hidden" name="phone" placeholder="Số điện thoại" th:value="${phone}" required />
                                        <input type="hidden" name="price" th:value="${price}" />
                                        <input type="hidden" name="terms" th:value="${terms}" />
                                        <input type="hidden" name="totalAmount" th:value="${totalAmount}" />
                                        <input type="hidden" name="departureDate" th:value="${departureDate}" />
                                        <input type="hidden" name="departureTime" th:value="${departureTime}" />

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                                            <i class="fa fa-credit-card icon-flat bg-btn-actived"></i> Thực hiện thanh toán
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                    <div class="panel">
                        <p class="text-center text-uppercase text-primary"><strong>Thông tin đặt vé</strong></p>
                        <table class="table">
                            <tr><td>Chuyến</td><td th:text="${trip}">TP HCM - Đà Lạt</td></tr>
                            <tr><td>Ngày đi</td><td th:text="${departureDate}">10/10/2013</td></tr>
                            <tr><td>Thời gian</td><td th:text="${departureTime}">07:00</td></tr>
                            <tr><td>Số ghế</td>
                                <td>
                                    <ul>
                                        <li th:each="seat : ${seatIds}" th:text="${seat}">Seat ID</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr><td>Địa điểm lên xe</td><td th:text="${boardingPoint}">123 Lê Tăm, Đề Thám TP HCM</td></tr>
                            <tr><td>Họ tên</td><td th:text="${name}">Nguyễn Văn ABC</td></tr>
                            <tr><td>Email</td><td th:text="${email}">abc@gmail.com</td></tr>
                            <tr><td>Số điện thoại</td><td th:text="${phone}">0902 292929</td></tr>
                            <tr><td>Tổng số tiền</td><td th:text="${totalAmount}">290.000 VNĐ</td></tr>
                        </table>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-success btn-block btn-flat">
                                    <i class="fa fa-arrow-left icon-flat bg-success"></i> Quay lại
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer>
        <div id="footer-img">
            <img th:src="@{/img/bg-top-footer.png}" class="center-block">
        </div>
        <div id="footer-body">
            <div class="f-body-wrap container">
                <nav id="nav-f">
                    <ul>
                        <li><a th:href="@{/schedules}">Lịch trình</a></li>
                        <li><a th:href="@{/about}">Về chúng tôi</a></li>
                        <li><a th:href="@{/support}">Hỗ trợ khách hàng</a></li>
                        <li><a th:href="@{/payment-safety}">Thanh toán an toàn</a></li>
                        <li><a th:href="@{/careers}">Tuyển dụng</a></li>
                    </ul>
                </nav>
                <div id="f-info" class="row">
                    <div id="social" class="col-lg-6">
                        <ul>
                            <li>Kết nối chúng tôi</li>
                            <li><a th:href="@{/facebook}"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a th:href="@{/google-plus}"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a th:href="@{/twitter}"><i class="fa fa-twitter-square"></i></a></li>
                        </ul>
                    </div>
                    <div id="info" class="col-lg-6">
                        <div id="info-c">
                            <p>Công Ty CP Xe khách phương trang FUTA</p>
                            <p>Địa chỉ: 80 Trần Hưng Đạo, Q1, TP Hồ Chí Minh.</p>
                            <p>Điện thoại: 0902 181852 - Fax: 0902 181852</p>
                            <p>Website: <a th:href="@{/}">viralwave.vn</a> - Email: info@viralwave.vn</p>
                        </div>
                    </div>
                </div>
                <div class="f-copy">
                    <p>Copyright &copy; 2015 Công ty TNHH ABC</p>
                    <p>Design by <a th:href="@{/}">viralwave.vn</a></p>
                </div>
            </div>
        </div>
    </footer>
</div>
<script>
    // Cập nhật phương thức thanh toán khi người dùng chọn
    document.querySelectorAll('.payment-option').forEach(function(option) {
        option.addEventListener('click', function() {
            // Xóa lớp 'selected' khỏi tất cả các tùy chọn
            document.querySelectorAll('.payment-option').forEach(function(opt) {
                opt.classList.remove('selected');
            });

            // Thêm lớp 'selected' cho lựa chọn hiện tại
            option.classList.add('selected');

            // Cập nhật phương thức thanh toán vào input ẩn
            const paymentMethod = option.getAttribute('data-method') + '-' + option.getAttribute('data-bank');
            document.getElementById('paymentMethod').value = paymentMethod;
        });
    });
</script>
</body>
</html>
