<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title th:text="${pageTitle}">FUTA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" media="all" />
    <link rel="stylesheet" th:href="@{/plugins/flexslider/flexslider.css}" type="text/css" media="all" />
    <script th:src="@{/js/jquery-1.11.3.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/flexslider/jquery.flexslider-min.js}" type="text/javascript"></script>
    <script th:src="@{/plugins/sliderTabs/jquery.sliderTabs.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/plugins/sliderTabs/styles/jquery.sliderTabs.css}" />
    <script th:src="@{/js/theme.js}" type="text/javascript"></script>
</head>
<body>
<header>
    <div id="top">
        <div class="container">
            <div class="support"><i class="fa fa-phone"></i> Tổng đài hỗ trợ: <span th:text="${supportHotline}">0902 1818 52</span></div>
            <ul>
                <li><a href="#" th:href="@{/en}">EN</a></li>
                <li><a href="#" th:href="@{/login}">Đăng nhập</a></li>
                <li><a href="#" th:href="@{/register}">Đăng ký</a></li>
            </ul>
        </div>
    </div>
    <div id="header-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                    <h1 id="logo">
                        <a th:href="@{/}">
                            <img th:src="@{/img/logo.png}" alt="FUTA Logo" />
                        </a>
                    </h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand" th:href="@{/}">Trang chủ</a>
                    </div>
                    <nav id="main-nav" class="collapse navbar-collapse clearfix">
                        <ul>
                            <li><a href="#" th:href="@{/promotions}">Khuyến mãi</a></li>
                            <li><a href="#" th:href="@{/schedules}">Lịch trình</a></li>
                            <li><a href="#" th:href="@{/contact}">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <h1 class="text-center">List Pages</h1>
    <div class="col-lg-4 col-lg-offset-4">
        <ul>
            <li><a th:href="@{/home}">Trang chủ</a></li>
            <li><a th:href="@{/step2}">Bước 2</a></li>
            <li><a th:href="@{/step3}">Bước 3</a></li>
            <li><a th:href="@{/step4}">Bước 4</a></li>
            <li><a th:href="@{/register}">Đăng ký</a></li>
            <li><a th:href="@{/review}">Đánh giá</a></li>
            <li><a th:href="@{/book-ticket}">Đặt vé</a></li>
            <li><a th:href="@{/promotions}">Khuyến mãi</a></li>
            <li><a th:href="@{/purchase-history}">Lịch sử mua vé</a></li>
            <li><a th:href="@{/topup-history}">Lịch sử nạp tiền</a></li>
            <li><a th:href="@{/schedules}">Lịch trình</a></li>
            <li><a th:href="@{/contact}">Liên hệ</a></li>
            <li><a th:href="@{/register}">Đăng ký</a></li>
            <li><a th:href="@{/login}">Đăng nhập</a></li>
            <li><a th:href="@{/forgot-password}">Quên mật khẩu</a></li>
            <li><a th:href="@{/payment-success}">Thanh toán thành công</a></li>
            <li><a th:href="@{/profile}">Thông tin cá nhân</a></li>
            <li><a th:href="@{/news}">Tin tức</a></li>
            <li><a th:href="@{/careers}">Tuyển dụng</a></li>
            <li><a th:href="@{/about-us}">Về chúng tôi</a></li>
        </ul>
    </div>
</div>
</body>
</html>
